body {
	font-family: 'Roboto', sans-serif;
  background-color: rgb(39, 224, 22);
}

.header-nav{
  padding: 0 15px; 
    width: 100%;
    height: 100px;
    background-color: rgb(105, 80, 230);
 display: flex;
 align-items: center;

}

.head_first{
	display: flex;
	padding: 10px;
	margin: 0 auto;
	

}
.phone-number{
	margin-top: 40px;
	margin-left : 100px; 
}

.dis-block{ 
    font-size: 60px;
    font-style:normal;
    color: black;
}
.time-job{
	font-style:normal;
}

.header-shakirt{ 
	margin-top: 1px;
	font-size: 40px;
    font-style: italic;
    margin-left: 50px;
}
.text-header{
	margin-top: 10px;
    font-style:oblique;
    margin-top: 20px;
}

.img-phone{
    margin-bottom: 7px;
    margin-left: 400px;
    width: 30px;
    height: 30px;
}

.header-phone{
    

    font-size: 20px;
  
}

.signup-form{
    margin-top: 50px;
}
 
.btn-math{ 

width: 250px;
height: 250px;
margin : 0 auto; 
text-align: center;
padding-top: 30px;
}
.div-select{
    margin-bottom: 20px; 
}

.knopka-math{
      border: none; 
        border: 2px solid black;
        border-radius: 15px;
        background-color: aqua;
     width: 300px;
     height: 50px;
   margin-bottom: 30px;
    }
    .form-select{
       width: 250px;
       outline: none;
       background-color: rgb(224, 197, 75);
       padding: 10px; 
       text-align: center;
      border-radius: 15px; 
      font-style: italic;
      }
      .form-select:hover{
         background-color: rgb(117, 235, 229);
      }
 .select-option{
    background-color: rgb(218, 89, 211);
    margin-left: 20px; 
 }



    .knopka-math:hover{
 background-color: rgb(120, 233, 135);
    }
    /*END BLOCK*/

    .end-block{ 
      position: absolute;
       width: 100%;
       height: 200px;
       background-color: black;
       position: relative;
      margin-top: 100px;
   }
   .h3-shakirt{
      margin-left: 160px;
   }
   .row-text{ 
       width: 100%;
       height: 70px;
       position: absolute;
      margin-top: 50px; 
       display: flex;
       justify-content: space-between;
   margin-right: 10px;
	}
   .phone-info{
      margin-right: 80px;
   }
   h3{ 
      color: white; 
   }
   .row-text p { 
      color: white; 
   }
    /*media 1280 , 1100, 990, 768,660, 414,480,  360*/
	@media(max-width: 1280px){
		.header-shakirt {
			margin-top: 1px;
			font-size: 40px;
			font-style: italic;
			margin-left: -1px;
		}
		.h3-shakirt {
			margin-left: 39px;
		}
			.phone-info{
				margin-right: 54px;
			}
	}
@media (max-width:1100px){
	.header-shakirt {
      margin-top: 2px;
      font-size: 28px;
      font-style: italic;
      margin-left: -3px;
  }
  .text-header {
   font-size: 16px;
 margin-top: 6px;
}
.img-phone {
   margin-bottom: 3px;
   margin-left: 353px;
   width: 30px;
   height: 30px;
}

  .dis-block {
   font-size: 41px;
   font-style: normal;
   color: black;
}
	.h3-shakirt{
		font-size: 1.75rem;
		margin-left: 92px;
	}
	

	.head_first{
		font-size: 16px;
		margin-top: 26px;
		font-size: 36px;
		font-style: italic;
		margin-left: 10px; 
		}
		.logo_and_text{
			margin-left: 10px;
			margin-bottom: 20px; 
		}
		.dis-block{
			 height: 10px;
		}
		
		.phone-number {
			margin-top: 3px;
			margin-left: -1px;
		}
	
	
		.header-phone{
			margin-bottom: 10px; 
		}
      .signup-form {
         margin-top: 54px;
         margin-left: -210px;
     }
     .row-text  {
      width: 100%;
      height: 70px;
      position: absolute;
      margin-top: 50px;
      display: flex;
    
      padding-left: 10px; 
  }
     .h3-shakirt{
         margin-left: 20px;
     }
	 .phone-info{
		margin-right: 50px;
	 }
		
}
@media (max-width: 990px){
	.header-shakirt {
		margin-top: -11px;
		font-size: 27px;
		
		margin-left: 20px;
	}
	.text-header {
		margin-top: -10px;
	}
	.header-phone {
		font-size: 16px;
	}
	.img-phone {
		margin-bottom: -5px;
		margin-left: 419px;
		width: 20px;
		height: 20px;
	}
	.h3-shakirt {
		font-size: 1.75rem;
		margin-left: 34px;
	}
	.phone-number {
		margin-top: -9px;
		margin-left: -1px;
	}
.dis-block{
	font-size:37px;
  }
  .signup-form {
    margin-top: 54px;
    margin-left: 4px;
}
}
@media (max-width: 768px){
	.header-shakirt {
		display: flex;
		margin-top: 12px;
		font-size: 21px;
		margin-left: 10px;
	}
	.dis-block{
		font-size: 44px;
		margin-top: -18px;
	}
	.text-header {
		font-size: 9px;
		margin-top: 8px;
	}
	.img-phone {
		margin-bottom: -7px;
		margin-left: 372px;
		width: 20px;
		height: 20px;
	}
	.header-phone{
		font-size: 15px;
		margin-top: 15px;
	}
	.phone-number{
		margin-top: -4px;
		margin-left: -20px;
	}
	.h3-shakirt{
		font-size: 20px;
	}
	
	.h2, h2 {
		font-size: 27px;
	}
}
@media(max-width: 660px){
	.img-phone {
		margin-bottom: -7px;
		margin-left: 272px;
		width: 20px;
		height: 20px;
	}
}
@media(max-width:480px)
{
	.text-header {
		font-size: 10px;
		margin-top: 8px;
	}
	.img-phone {
		margin-bottom: -7px;
		margin-left: 111px;
		width: 20px;
		height: 20px;
	}
	.row-text {
		width: 100%;
		height: 70px;
		position: absolute;
		margin-top: 50px;
		flex-wrap: wrap;
		padding-left: 10px;
	}
	.h3-shakirt {
		font-size: 1.75rem;
		margin-left: 4px;
	}
	.time-job{
		margin-right: 19px;
	}
	.phone-info{
		margin-left: 170px;
	}
}
@media (max-width: 414px){
	body{
		padding-right: 0  ;
	}
	.logo_and_text {
		margin-left: -57px;
		margin-bottom: 26px;
	}
	.header-nav{
		width: 100%;
		margin-left: 3px;
		
	}
	.header-shakirt {
		display: flex;
		margin-top: 15px;
		font-size: 21px;
		margin-left: -2px;
	}
	.h2, h2 {
		font-size: 18px;
	}
	.dis-block {
		font-size: 30px;
		margin-top: -9px;
	}
	.head_first {
		font-size: 16px;
		margin-top: 26px;
		font-size: 36px;
		font-style: italic;
		margin-left: 71px;
	}
	.phone-number{
		margin-left: -343px;
		margin-top: -4px;

	}

	
	.text-header {
		font-size: 9px;
		margin-top: 8px;
	}
	.img-phone {
		margin-bottom: -7px;
		margin-left: 372px;
		width: 20px;
		height: 20px;
	}
	.header-phone{
		font-size: 15px;
		margin-top: 15px;
	}
	
	.h3-shakirt{
		font-size: 20px;
	}
	
	.end-block{
		margin-top: 20px;
		height: 235px;
		padding-bottom: 10px;
	}
	.row-text {
		
		position: absolute;
		margin-top: 50px;
		flex-wrap: wrap;
	
	}
	.time-job{
    margin-left: 4px;
	}
	.phone-info{
	margin-left: 2px;
   margin-right: 89px;
	}
}
@media(max-width: 360px){
	.logo_and_text {
		margin-left: -26px;
		margin-bottom: 34px;
	}
	.header-first{
		margin-left: -2px;
	}
	.h3-shakirt {
		font-size: 26px;
		margin-left: 5px;
	}
	.time-job {
		margin-left: 5px;
	}
	
}
    